@model nimaptask.Models.Category

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Add Category</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <div class="container mt-5">
        <h2>Add New Category</h2>
        <form method="post">
            <div class="form-group">
                <label>Category Name:</label>
                <input type="text" name="CategoryName" class="form-control" required>
            </div>

            <button type="submit" class="btn btn-success">Save</button>
        </form>

        <br>
        <a href="/Category/Index" class="btn btn-secondary mt-3">Back to Category List</a>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
</body>
</html>
